<!-- Management panel: modal for expanded order details-->
 <!-- Find  -->
<style>
    #orderSummaryModal span{
        color: var(--bs-secondary-color)
    }
</style>
    <div class="modal fade" id="orderSummaryModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Order Info <span id="status"></span><br>
                        <small class="text-muted" id="order-id"></small>
                        <br><b class="text-danger" id="error"></b>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <b>Contact details</b><br>
                    <small>
                        User: <span id="customer_name">Loading...</span> (Type: <span id="customer_type"></span>)<br>
                        Email: <span id="email"></span><br>
                        Phone number: <span id="phone"></span><br> 
                    </small><br>

                    <b>Delivery details</b><br>
                    <small>
                        Address: <span id="address"></span><br>
                        Order date: <span id="order_date"></span><br>
                        Delivery date: <span id="delivery_date"></span><br>
                        Recurrence: <span id="recurrence"></span><br>
                        Special instructions: <span id="instructions"></span><br>
                    </small>
                    <hr>
                    
                    <b>RECEIPT</b><br>
                    <div id="receipt-table" class="mt-2"></div>
                    <hr>
                    
                    <b>Total: £<span id="total_price"></span></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>