{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'home.css' %}">

<!-- From Uiverse.io by adamgiebl --> 
<div class="form-control">
	<input class="input input-alt" placeholder="Search" required="" type="text">
	<span class="input-border input-border-alt"></span>
</div>
<div>
	<div class="filters">
	  <input type="checkbox" id="apple">
	  <label for="apple">Apple</label>

	  <input type="checkbox" id="carrot">
	  <label for="carrot">Carrot</label>

	  <input type="checkbox" id="potatoes">
	  <label for="potatoes">Potatoes</label>

	</div>
</div>
<div class="custom-filters">

	<div class="filters">

	  <input type="checkbox" id="stock">
	  <label for="stock">In Stock</label>

	  <input type="checkbox" id="discount">
	  <label for="discount">Discounted %</label>
	</div>
	{% include "components/widget-food-miles.html" %}
	{% include "components/widget-tree.html" %}
	{% include "components/widget-offer.html" %}
	<br/>
</div>
<div class="home-results">
  <b>Found {{ items|length }} matches</b>
</div>

<div class="widget-card-grid">
  {% for item in items %}
    <div class="card">

      <div class="image">
        {% if item.image %}
          <img src="{{ item.image.url }}" class="card-img-top" style="height: 100%; object-fit: cover;">
        {% else %}
          <img src="{% static 'test.jpg' %}" class="card-img-top" style="height: 100%; object-fit: cover;">
        {% endif %}
      </div>

      {% if item.allergens %}
      <span class="allergens">

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-warning-icon lucide-message-circle-warning" transform="scale(-1,1)"><path d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719"/><path d="M12 8v4"/><path d="M12 16h.01"/></svg>
         {{ item.allergens|join:", " }}
      </span>
      {% endif %}

      <span class="cart">
        {% include "components/widget-stepper.html" %}
      </span>

      <span class="title">{{ item.name }}</span>
      <span class="price">£{{ item.price }}</span>

    </div>
  {% empty %}
    <p>No items found. Go to 
      <a href="{% url 'inventory_upload' %}">Inventory page</a>
    </p>
  {% endfor %}
</div>
<!-- <div class="home-results"><b>Found 2 matches</b></div> -->

<br/>
<br/>
<br/>
{% endblock %}
