{% extends "base.html" %}
{% load static %}
<!-- Override default body container for smaller gutter -->
{% block container_class %}container-fluid px-5 {% endblock %}

{% block content %}

<style>
/* Copy button hover effect for model selection group */
.btn-check + .btn-outline-success:hover {
    background-color: #198754;
    color: white;
}
</style>
<link rel="stylesheet" href="{% static 'management.css' %}">
<div class="row justify-content-center">
    <div class="col-11">
        <!--Define form-->
        <form method="POST" action="{% url 'management' %}?model={{ selected_model_name }}">
            <!-- Pass auth token for POST -->
            {% csrf_token %}
            <!-- Primary card -->
            <div class="card shadow p-4 ">
                <!-- Model selection button group -->
                <div class="flex-wrap gap-2 btn-group card-header  border-0 bg-transparent management-topbar" role="group">
                    {% for model_name in model_names %}
                        <input  type="radio" 
                                class="btn-check " 
                                name="btnradio" 
                                id="btnradio{{ forloop.counter }}"
                                onchange="location.href='?model={{ model_name }}'"
                                {% if model_name == selected_model_name %}checked{% endif %}>
                        <label class="btn btn-outline-success model-label" for="btnradio{{ forloop.counter }}">
                            {{ model_name }}
                            <!-- Producers - Show alert badges indicating stock and pending order counts -->
                            {% if model_name == "Product" %}
                                {% if stock_alert.warning_count > 0 %}
                                <span class="badge bg-warning">{{ stock_alert.warning_count }}</span>
                                {% endif %}
                                {% if stock_alert.error_count > 0 %}
                                <span class="badge bg-danger">{{ stock_alert.error_count }}</span>
                                {% endif %}

                            {% endif %}
                            {% if model_name == "Order" %}
                                {% if stock_alert.pending_orders > 0 %}
                                <span class="badge bg-info">{{ stock_alert.pending_orders }}</span>
                                {% endif %}
                            {% endif %}
                        </label>
                    {% endfor %}
                    </div>
                <script>
                    document.querySelectorAll('.model-label').forEach(label => {
                        // Regex to add space before capital letters, make all lowercase, and capitalize the first letter
                        label.childNodes[0].textContent = label.childNodes[0].textContent.trim()
                            .replace(/([a-z])([A-Z])/g, '$1 $2')
                            .toLowerCase()
                            .replace(/^./, str => str.toUpperCase());
                    });
                </script>
                <!-- Construct selected model table -->
                {% if selected_data %}
                    {% include 'includes/management_table.html' %}       
                    {% else %}
                    <div class="p-5 text-center text-muted">
                        Select a table from the header above.
                    </div>
                {% endif %}
                <!-- Disable actions if Order and user is Producer -->
                {% if selected_model_name %}
                    {% if not user.category == 'Producer' or not selected_model_name == 'Order' or user.is_superuser%}
                <!-- Actions for update and new entry creation -->
                <div class="management-btns">
                    <button type="submit" name="update"  class="btn btn-outline-primary" onclick="return confirm('Are you sure you want to save all changes {{ selected_model_name }}?');" title="Save changes"><i class="bi bi-floppy-fill"></i></button>
                    <a href="?model={{ selected_model_name }}&draft=true" class="btn btn-outline-success" title="Add new entry">
                        <i class="bi bi-plus-square-fill"></i>
                    </a>
                </div>            
            </div>
                    {% endif %}
                {% endif %}
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener('keydown', function(e) {
    if (e.key === 'Enter' && document.activeElement.tagName === 'INPUT') {
        e.preventDefault();
        document.querySelector('[name="update"]').click();
    }
});
</script>
{% endblock %}



{% block modals %}
<!-- Order modal window for expanded order view -->
{% if selected_model_name == "Order" %}
    {% include 'includes/management_order_modal.html' %}     
    <!-- defer is best practice to wait until html is parsed before loading script-->
    <script defer src="{% static 'js/management_order_modal.js' %}"></script>
{% endif %}
{% endblock %}
