<div class="food-miles-filter">
  <!-- From Uiverse.io by Yaya12085 -->
  <span class="food-miles-title">Food miles:</span>
  <div class="radio-input">
    <label>
      <input
        value="value-1"
        name="value-radio"
        id="value-1"
        type="radio"
        checked=""
      />
      <span>&lt;5</span>
    </label>
    <label>
      <input value="value-2" name="value-radio" id="value-2" type="radio" />
      <span>10</span>
    </label>
    <label>
      <input value="value-3" name="value-radio" id="value-3" type="radio" />
      <span>15</span>
    </label>
    <label>
      <input value="value-4" name="value-radio" id="value-4" type="radio" />
      <span>&gt;20</span>
    </label>
    <span class="selection"></span>
  </div>
</div>

<style>
  * {
    font-family: monospace;
  }
  .food-miles-filter {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
  }

  /* From Uiverse.io by Yaya12085 */
  .radio-input input {
    display: none;
  }

  .radio-input label span::after {
    content: " mi";
  }
  .radio-input {
    --container_width: 350px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    background-color: #fff;
    color: #000000;
    width: var(--container_width);
    overflow: hidden;
    max-height: 30px;
    user-select: none;
    /* border: 1px solid rgba(53, 52, 52, 0.226); */

    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow:
      1px 1px 2px -1px #fff inset,
      0 2px 1px #00000010,
      0 4px 2px #00000010,
      0 8px 4px #00000010,
      0 16px 8px #00000010,
      0 32px 16px #00000010;
  }

  .radio-input label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    letter-spacing: 2px;
    font-size: 14px;
  }

  .selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 4);
    z-index: 0;
    left: 0;
    top: 0;
    transition: 0.15s ease;
  }

  .radio-input label:has(input:checked) {
    color: #fff;
  }

  .radio-input label:has(input:checked) ~ .selection {
    background-color: #00ac7c;
    display: inline-block;
  }

  .radio-input label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0 / 4));
  }

  .radio-input label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1 / 4));
  }

  .radio-input label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 2 / 4));
  }

  .radio-input label:nth-child(4):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 3 / 4));
  }
  .input-alt,
  label {
    box-shadow:
      1px 1px 2px -1px #fff inset,
      0 2px 1px #00000010,
      0 4px 2px #00000010,
      0 8px 4px #00000010,
      0 16px 8px #00000010,
      0 32px 16px #00000010;
  }
</style>
<!-- From Uiverse.io by Javierrocadev -->
