body {
  background-color: #ededed;
}
* {
  /* font-family: sans-serif; */
  font-family: monospace;
}

.navbar-container {
  /* justify-content: center; */
  display: block;
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 70vh; */
  width: 100%;
  display: flex;
  padding: 0 2rem;
}

#logo {
  filter: brightness(0) saturate(100%) invert(29%) sepia(78%) saturate(5443%)
    hue-rotate(149deg) brightness(94%) contrast(80%);
  padding-bottom: 2px;
  transform: rotate(-10deg);
}
.navbar {
  height: 50px;
}
.navbar-brand:hover #logo {
  transform: rotate(0deg);
}
.navbar-brand {
  margin-left: 0.2rem;
}
.nav-link {
  margin: 0 0.5rem;
}
